*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  color: orangered; }

.map {
  height: 100vh;
  background-image: url(../img/map_background.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .map__overlay {
    width: auto;
    height: 100vh; }
  .map__image {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .map__outlines {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.mapify-svg {
  height: 100%;
  fill: red;
  position: absolute;
  top: 0;
  left: 0; }

.cls-1 {
  fill: rgba(255, 255, 255, 0.25); }
